<nav>
  <ul>
    <li><a class="btn btn-outline-warning" *ngIf="token" routerLink="/home">Home</a></li>
    <li><a class="btn btn-outline-warning" *ngIf="token" routerLink="/emp-listing">Employee Listing</a></li>
    <li><a class="btn btn-outline-warning" *ngIf="token" routerLink="/dep-listing">Department Listing</a></li>
    <li>
      <a *ngIf="!token" (click)="logIn()" class="btn btn-outline-danger">Log In</a>
    </li>
    <li>
      <a *ngIf="token" (click)="logOut()" class="btn btn-outline-danger">Log Out</a>
    </li>
  </ul>
</nav>
<router-outlet *ngIf="token"></router-outlet>