<div class="home">
    <h1>Welcome To Listings</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Table</th>
                <th scope="col">Count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Department</td>
                <td>{{deptLength}}</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Employee</td>
                <td>{{emplLength}}</td>
            </tr>
        </tbody>
    </table>
</div>